@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%; /* مهم: ما يتبدلش */
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding: 2rem 9%;
}

/* Header */
header{
    background: transparent;
}

.logo{
    font-size: 2rem;
    color: white;
    font-weight: bolder;
}

.navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: white;
}

.navbar a:hover{
    color: #74ace4;
}

.icons a{
    font-size: 2.5rem;
    color: white;
    margin-left: 1.5rem;
}

.icons a:hover{
    color: #74ace4;
}

/* Home */
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(/img/img1.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content h3{
    font-size: 3rem;
}

.home .content span{
    font-size: 2rem;
    display: block;
}

.home .content p{
    font-size: 1.6rem;
}

.btn{
    display: inline-block;
    margin-top: 15px;
    margin-right: 15px;
    padding: 1rem 2.5rem;
    font-size: 1.6rem;
    background: #007AFF;
    color: white;
}
.features {
  background-color: #0b1c2d;
  padding: 80px 10%;
  color: #ffffff;
  text-align: center;
}

.features h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.features-desc {
  font-size: 16px;
  color: #b0c4de;
  margin-bottom: 50px;
}

.features-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.feature-card {
  background: rgba(255, 255, 255, 0.05);
  padding: 25px;
  border-radius: 12px;
  transition: 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-8px);
  background: rgba(255, 255, 255, 0.1);
}

.feature-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #4da3ff;
}

.feature-card p {
  font-size: 14px;
  color: #d0d8e0;
}