.compound-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

/* تحسين خفيف للكارد */
.compound-card {
  background: #fff;
  width: 400px;
  padding: 25px;
  border-radius: 14px;

  box-shadow: 0 10px 30px rgba(0,0,0,0.12);

  text-align: center;
  transition: 0.3s;

  border: 1px solid #eee; /* إضافة خفيفة */
}



/* العنوان */
.compound-header h1 {
  margin-bottom: 15px;
  font-size: 28px;
  color: #222;
}

/* النص */
.compound-body p {
  font-size: 16px;
  margin: 10px 0;
  color: #444;
}
/* نخلي النص داخل info على اليسار فقط */
.info {
  text-align: left;
  width: 100%;
}

/* تحسين شكل الفقرات */
.info p {
  margin: 8px 0;
}

/* زر العودة */
.back-btn {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background: #222;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.back-btn:hover {
  background: #444;
}


img {
  max-width: 200px;
  height: auto;
  margin-bottom: 10px;
}