* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body {
  height: 100vh;
  background: url("/static/img/img1.png") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  width: 100%;
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.avatar {
  font-size: 40px;
  background: rgba(255, 255, 255, 0.2);
  padding: 10px 15px;
  border-radius: 50%;
}

.logout-btn {
  text-decoration: none;
  color: white;
  background: #e74c3c;
  padding: 10px 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
}

.logout-btn i {
  font-size: 20px;
}

.stats-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.stat-card {
  width: 250px;
  padding: 25px;
  text-align: center;
  color: white;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.actions {
  text-align: center;
  margin-top: 40px;
}

.btn {
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 18px;
  margin: 0 15px;
  transition: 0.3s;
}

.primary {
  background: #1f6feb;
  color: white;
}

.secondary {
  background: #2ecc71;
  color: white;
}

.btn:hover {
  transform: scale(1.05);
}
.profile-edit {
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.profile-edit label {
  display: block;
  margin: 10px 0 5px;
}

.profile-edit input {
  width: 10%;
  padding: 8px;
  margin-bottom: 10px;
}

.profile-edit button {
  padding: 10px 20px;
}
.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden; /* مهم لجعل الصورة دائرية */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee; /* لون خلفية افتراضي */
  margin-bottom: 10px;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* تجعل الصورة تغطي الإطار بالكامل */
}

.avatar i {
  font-size: 40px;
  color: #888;
}
