* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  height: 100vh;
  background: url("../img/img1.png") no-repeat center center / cover;
}

.overlay {
  position: fixed;
  top: 80px; /* ⬅️ عوّض ارتفاع الهيدر */
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 420px;
  padding: 35px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.18),
    rgba(255, 255, 255, 0.05)
  );
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: #fff;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35);
  transform: none !important;
  transition: none !important;
}

.card h1 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

select,
input {
  padding: 12px;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.15);
  outline: none;
  color: #fff;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.85);
}

.add {
  background: #1e90ff;
  border: none;
  padding: 10px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.add:hover {
  background: #187bcd;
}

.list {
  margin: 20px 0;
}

.list ul {
  list-style: none;
  margin-top: 8px;
}

.list li {
  background: rgba(255, 255, 255, 0.18);
  padding: 8px;
  margin-bottom: 6px;
  border-radius: 8px;
  color: #fff;
}

.start {
  width: 100%;
  padding: 12px;
  background: #00b894;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.start:hover {
  background: #019875;
}
.card:hover {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.18),
    rgba(255, 255, 255, 0.05)
  );
}
