{% block content %}
<link rel="stylesheet" href="/static/css/admin.css" />
<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>
<div class="container">

    {% include 'sidebar.html' %}
    <title>Elements</title>

    <main class="main">

        <div class="topbar">
            <h3>Chemical Elements</h3>
            <button class="add-btn" onclick="openElementModal()">
                <i class='bx bx-plus'></i> Add Element </button>
                <div id="editElementModal" class="modal-custom">
  <div class="modal-box">

   <form method="POST" id="editElementForm">

  <div class="modal-header">
    <h5>Edit Element</h5>
    <span class="close-btn" onclick="closeEditElementModal()">&times</span>
  </div>

  <div class="modal-body">
    <input type="text" name="name" id="editName" required>
    <input type="text" name="symbol" id="editSymbol" required>

    <select name="state" id="editState">
        <option value="solid">Solid</option>
        <option value="liquid">Liquid</option>
        <option value="gas">Gas</option>
    </select>

            <input type="text" name="color" id="editColor" placeholder="e.g. #ff0000 " required>

  </div>

  <div class="modal-footer">
    <button type="submit" class="add-reaction-btn">Update</button>
  </div>

</form>

  </div>
</div>
        </div>

        <div class="table-box glass-table">

            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Symbol</th>
                        <th>State</th>
                        <th>Color</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for e in elements %}
                    
                        <tr data-id="{{ e.id }}">
    <td class="name">{{ e.name }}</td>
    <td class="element-symbol ">{{ e.symbol }}</td>
    <td class="state">{{ e.state }}</td>
    <td class="color">{{ e.default_color }}</td>

                        <td class="actions">

                            <!-- Edit -->
                            <a href="#" class="edit-btn"
                               onclick="openEditElementModal(
                                   '{{ e.id }}',
                                   '{{ e.name }}',
                                   '{{ e.symbol }}',
                                   '{{ e.state }}',
                                   '{{ e.default_color}}'
                               )">
                               <i class='bx bx-edit'></i>
                            </a>

                            <!-- Delete -->
                            <form method="POST" action="{{ url_for('admin.delete_element', id=e.id) }}">
                                <button class="delete-btn" type="submit">
                                    <i class='bx bx-trash'></i>
                                </button>
                            </form>

                        </td>

                    </tr>
                    {% endfor %}
                </tbody>

            </table>

        </div>

    </main>

    <div id="elementModal" class="modal-custom">
  <div class="modal-box">

    <form method="POST" action="{{ url_for('admin.add_element') }}">

      <div class="modal-header">
        <h5>Add Element</h5>
        <span class="close-btn" onclick="closeElementModal()">&times;</span>
      </div>

      <div class="modal-body">
        <input type="text" name="name" placeholder="Name" required>
        <input type="text" name="symbol" placeholder="Symbol" required>

        <select name="state">
            <option value="solid">Solid</option>
            <option value="liquid">Liquid</option>
            <option value="gas">Gas</option>
        </select>

                    <input type="text" name="color" id="editColor" placeholder="e.g. #ff0000 " required>

      </div>

      <div class="modal-footer">
        <button type="submit" class="add-reaction-btn">Save</button>
      </div>

    </form>

  </div>
</div>

</div>
 <script src="{{ url_for('static', filename='js/elements.js') }}"></script>

{% endblock %}