{% extends "base.html" %}
{% block title %}{{ _('Login') }}{% endblock %}
{% block content%}

<div class="wrapper">

  <form method="POST" action="{{ url_for('login.login') }}">
    <h1>{{ _('Login') }}</h1>

    <!--  الرسائل هنا -->
  <div class="flashes">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert {{ category }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>
    <div class="input-box">
      <input type="text" name="username" placeholder="{{ _('Username') }}" required />
      <i class="bx bxs-user"></i>
    </div>

    <div class="input-box">
      <input type="password" name="password" placeholder="{{ _('Password') }}" required />
      <i class="bx bxs-lock"></i>
    </div>

        <div class="remember-forgot">
      
      <a href="{{ url_for('forgot') }}" class="forgot-link">{{ _('Forgot password') }}</a>
    </div>


    <button type="submit" class="btn">{{ _('Login') }}</button>

    <div class="register-link">
      <p>
        {{ _('Don\'t have an account?') }}
        <a href="{{ url_for('register.register') }}">{{ _('Register') }}</a>
      </p>
    </div>

  </form>

</div>
{% endblock %}