{% extends "base.html" %} {% block title %}Chemical Simulator{% endblock %} {%
block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}"/>
<link href="https://cdn.boxicons.com/3.0.6/fonts/basic/boxicons.min.css" rel="stylesheet"/>
{% endblock %} {% block content %}
<div class="hero-text">
  <h1 class="title-main">Simulate</h1>
  <h2 class="title-sub">Chemical Reactions</h2>
</div>

<div class="box">
  <i class="bxr bx-search" style="color: #000000"></i>
  <input type="text" placeholder="Search chemical reaction..." />
  <button>Search</button>
</div>

<div class="cards">
  {% for reaction in reactions %}
  <div class="card">
    <h3>{{ reaction['name'] }}</h3>
    <p>{{ reaction['equation'] }}</p>
    <a href="{{ url_for('simulation.simulation_page', reaction_id=reaction['id']) }}">
        <button>Simulate</button>
    </a>
  </div>
  {% endfor %}
</div>


{% endblock %}
