<header class="fixed-top py-4 text-white">
  <div class="container-fluid px-5 d-flex align-items-center justify-content-between">
    <a href="{{ url_for('home') }}" class="logo">
      <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" class="logo-img" />
    </a>

    <nav class="navbar d-none d-md-flex">
      <a href="{{ url_for('home') }}" class="text-white mx-2">{{ _('Home') }}</a>
      <a href="{{ url_for('compound.encyclopedia') }}" class="text-white mx-2">{{ _('Search') }}</a>
      <a href="{{ url_for('simulation.simulation_page') }}" class="text-white mx-2">{{ _('Simulation') }}</a>
      <a href="{{ url_for('home') }}#about" class="text-white mx-2">{{ _('About') }}</a>
      <a href="{{ url_for('set_language_route', lang='en') }}" class="lang-btn">EN</a>
      <a href="{{ url_for('set_language_route', lang='ar') }}" class="lang-btn">AR</a>
    </nav>
   
   

<div class="user-menu">

  <!-- الأيقونة -->
  <i class="bx bx-user user-icon"></i>

  <!-- القائمة -->
  <ul class="user-dropdown">
    {% if session.get('username') %}
      <li>
        <a href="{{ url_for('profile') }}" class="dropdown-item">{{ _('Profile') }}</a>
      </li>
      <li><hr /></li>
      <li>
        <a href="{{ url_for('logout') }}" class="dropdown-item text-danger">
          {{ _('Logout') }}
        </a>
      </li>
    {% else %}
      <li>
        <a href="{{ url_for('login.login') }}" class="dropdown-item">{{ _('Login') }}</a>
      </li>
      <li>
        <a href="{{ url_for('register.register') }}" class="dropdown-item">
          {{ _('Register') }}
        </a>
      </li>
    {% endif %}
  </ul>

</div>
  </div>
</header>
