<aside class="sidebar">
  <h2>{{ _('Admin') }}</h2>

  <ul class="menu">
    <li class="{% if request.endpoint == 'admin.dashboard' %}active{% endif %}">
      <a href="{{ url_for('admin.dashboard') }}">
        <i class="bx bxs-dashboard"></i>{{ _('Dashboard') }}
      </a>
    </li>

    <li class="{% if request.endpoint == 'admin.users' %}active{% endif %}">
      <a href="{{ url_for('admin.users') }}">
        <i class="bx bxs-user"></i>{{ _('User Management') }}
      </a>
    </li>

    <li
      class="{% if request.endpoint == 'admin.experiments' %}active{% endif %}"
    >
      <a href="{{ url_for('admin.experiments') }}">
        <i class="bx bxs-flask"></i> {{ _('Experiments') }}
      </a>
    </li>

    <li
      class="{% if request.endpoint == 'admin.statistics' %}active{% endif %}"
    >
      <a href="{{ url_for('admin.statistics') }}">
        <i class="bx bxs-bar-chart-alt-2"></i> {{ _('Statistics') }}
      </a>
    </li>

    <li
      class="{% if request.endpoint == 'reaction.pending_reactions' %}active{% endif %}"
    >
      <a href="{{ url_for('reaction.pending_reactions') }}">
        <i class="bx bx-git-branch"></i> {{ _('Pending Reactions') }}
        <span class="badge">{{ pending_count }}</span>
      </a>
    </li>

    <li>
      <a href="{{ url_for('logout') }}">
        <i class="bx bx-log-out"></i> {{ _('Logout') }}
      </a>
    </li>
  </ul>
</aside>
